@import '~antd/dist/antd.css';

.centered {
  text-align: center;
}

.spinner {
  padding: 20px;
}

.rss-feed {
  cursor: pointer;
}

.rss-feed.active {
  background-color: #002b36;
}

.rss-feed.active .anticon {
  color: white;
}

.rss-feed.active .ant-list-item-meta-content * {
  color: #fff;
}

iframe {
  height: 90vh;
  width: 100%;
}

.article {
  text-align: justify;
}

.article img {
  max-width: 400px;
  max-height: 400px;
}

.sources {
  position: fixed;
  z-index: 10;
  text-align: center;
  height: 50px;
  background-color: #fff;
  width: 300px;
  padding-top: 10px;
}

.article-list {
  margin-top: 40px;
}

#add-source {
  font-size: 20px;
  margin-right: 10px;
}

#add-source:hover {
  cursor: pointer;
}

.input-container .ant-input {
  margin: 0 10px 10px 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}